<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" href="../css/sty.css" >
    <style>
        a:hover {
            text-decoration: none;
            color: #ddd;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>

<body>
<!--播放音乐-->
<!--<audio autoplay="autoplay"><source th:src="@{/music/paojie.mp3}"></audio>-->
<div class="background" style="right: 0px">
    <div class="cardWrapper active">
        <div class="numberWrapper">
            <div class="numberBackground"></div>
            <div class="number">1</div>
        </div>
        <div class="textWrapper">
            <div class="title">《我的青春恋爱物语果然有问题》</div>
            <div class="description">
                孤独的人不会伤害别人，只会不断地伤害自己罢了。
            </div>
        </div>
        <div class="button">切换</div>
    </div>

    <div class="cardWrapper">
        <div class="numberWrapper">
            <div class="numberBackground"></div>
            <div class="number">2</div>
        </div>
        <div class="textWrapper">
            <div class="title">《某科学超电磁炮》</div>
            <div class="description">
                你指间跳跃的光芒，是我此生不变的信仰。
            </div>
        </div>
        <div class="button">切换</div>
    </div>

    <div class="cardWrapper">
        <div class="numberWrapper">
            <div class="numberBackground"></div>
            <div class="number">3</div>
        </div>
        <div class="textWrapper">
            <div class="title">《日常》</div>
            <div class="description">
                我们一日一日所度过的日常，也许是接连不断的奇迹。
            </div>
        </div>
        <div class="button">切换</div>
    </div>

    <div class="cardWrapper">
        <div class="numberWrapper">
            <div class="numberBackground"></div>
            <div class="number">4</div>
        </div>
        <div class="textWrapper">
            <div class="title">《从零开始的异世界生活》</div>
            <div class="description">
                如果真爱有颜色，那么一定是蓝色。
            </div>
        </div>
        <div class="button">切换</div>
    </div>
</div>
<!--右边投票-->
<div style="border: 10px solid deeppink;margin-left: 500px;margin-top: -920px;width: 800px">
    <h1 style="margin-left: 47%" th:text="${voteNeeds.get(0).vote.voteTitle}"></h1>
    <table>
        <tr>
            <td class="tr1">选项</td>
            <td class="tr2">该选项人气</td>
        </tr>
        <tr th:each="voteNeeds:${voteNeeds}">
            <td class="tr1" th:text="${voteNeeds.voteNeedName}"></td>
            <td class="tr2" th:text="${voteNeeds.voteConditionVotes}"></td>
        </tr>
    </table>
    <br>
    <br>
    <br>

    <form method="get" th:action="@{/vote-need/tph}">
        <div th:each="voteNeeds:${voteNeeds} ">
            <input type="radio" name="voteNeedId" th:value="${voteNeeds.voteNeedId}" th:text="${voteNeeds.voteNeedName}"><br>
        </div><br>
        <input type="hidden" th:value="${id}" name="id">
        <input type="submit" value="提交">
    </form><br>
<!--送礼物-->
    <form method="get" th:action="@{/gift/gift}">
        <div th:each="giveGift:${giveGift}">
            <span th:text="${giveGift.giftPrice}+'￥'"></span>
            <input type="radio"  name="giftId" th:value="${giveGift.giftId}">
            <input type="hidden" name="giftPrice" th:value="${giveGift.giftPrice}">
            <img th:src="${#httpServletRequest.getContextPath()+'/images/'+giveGift.giftImg}">
        </div>
        <input type="submit" value="提交">
    </form>
</div>
<div style="height: 100%;width: 300px;border: 10px solid pink;margin-left: 1500px;margin-top: -930px;background: darkorange" >
    <table>
        <span style="font-size: 40px;margin-left: 15%">人气排行榜</span><br>
        <tr th:each="Vote : ${listVotePerson}">
            <a th:text="${Vote.voteTitle}" style="font-size: 20px;color: deeppink;margin-left: 60px;" th:href="@{/vote-need/rq(id=${Vote.voteId})}"></a></br></br>
        </tr>
    </table>
</div>




<script type="text/javascript">
    let activeCard = 1;

    $('.button').bind('click', function() {
        $('.cardWrapper:nth-child(' + activeCard + ')').removeClass('active').addClass('inactive');
        if (activeCard === 4) {
            activeCard = 0;
        }
        activeCard++;
        $('.cardWrapper:nth-child(' + activeCard + ')').removeClass('inactive').addClass('active');
    });
</script>
</body>
</html>