<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}">
    <script th:src="@{/webjars/layui/src/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/layui/src/css/layui.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>
</head>
<body>
<form th:action="${#httpServletRequest.getContextPath()+'/user-message/upd'}">
    <table>
        <tr th:each="u:${u}">
            <td>
                <input type="text" name="userId" th:value="${u.userId}"placeholder="用户ID">
            </td>
          <td>
              <input type="text" name="userName" th:value="${u.userName}"placeholder="用户ID">
          </td>
            <td>
                <input type="text" name="userMoney" th:value="${u.userMoney}"placeholder="用户账户金额">
                <button type="submit">提交</button>
            </td>

        </tr>

    </table>

</form>

</body>
</html>