<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fy.fy.mapper.CommentMapper">

    <select id="getByTopicId" resultType="cn.fy.fy.entity.Comment">
        SELECT 	comment_id, topic_id, user_id,comment_content FROM fy.comment WHERE topic_id =#{topicId}
    </select>
</mapper>
