<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fy.fy.mapper.VoteNeedMapper">
    <delete id="delvoteid" parameterType="int">
        DELETE FROM `vote_need` WHERE `vote_id`=#{voteId}
    </delete>


<!--    主页人气排行榜跳转-->
    <select id="voteneed"  resultMap="find">
        SELECT vote_need.vote_need_id,vote_need.vote_need_name,vote_need.vote_condition_votes,vote.vote_title
        FROM vote_need,vote
        WHERE vote.vote_id= vote_need.vote_id AND vote.vote_id=#{id}
    </select>
    <resultMap id="find" type="cn.fy.fy.entity.VoteNeed">
        <id column="vote_id" property="voteId"/>
        <result column="vote_need_id" property="voteNeedId"/>
        <result column="vote_need_name" property="voteNeedName"/>
        <result column="vote_condition_votes" property="voteConditionVotes"/>
        <association property="vote" javaType="cn.fy.fy.entity.Vote">
            <id column="vote_id" property="voteId"/>
            <result column="user_id" property="userId"/>
            <result column="anime_id" property="animeId"/>
            <result column="vote_title" property="voteTitle"/>
            <result column="vote_start" property="voteStart"/>
            <result column="vote_end" property="voteEnd"/>
            <association property="votePerson" javaType="cn.fy.fy.entity.VotePerson">
                <id column="vote_id" property="voteId"></id>
                <result column="vote_person_persons" property="votePersonPersons"/>
                <result column="vote_person_money" property="votePersonMoney"/>
                <result column="user_id" property="userId"/>
            </association>
        </association>
    </resultMap>

<!--  投票后选项人气+1需要修改两个表  -->
    <update id="addPerson" parameterType="Integer">
        UPDATE vote_need,vote_person
SET vote_need.vote_condition_votes=vote_need.vote_condition_votes+1,vote_person.vote_person_persons=vote_person.vote_person_persons+1
WHERE vote_need.vote_id=vote_person.vote_id AND vote_need.vote_need_id=#{id}
    </update>

</mapper>
