<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fy.fy.mapper.VoteMapper">
    <!--  人气排行榜  -->
    <select id="findPersonQi" resultMap="renqi">
        SELECT DISTINCT vote.vote_title FROM vote,vote_person WHERE vote.user_id=vote_person.user_id ORDER BY vote_person.vote_person_persons
    </select>
    <resultMap id="renqi" type="cn.fy.fy.entity.Vote">
        <id column="anime_id" property="animeId"></id>
        <result column="vote_title" property="voteTitle"/>
        <result column="vote_tart" property="voteStart"/>
        <result column="vote_end" property="voteEnd"/>
        <association property="votePerson" javaType="cn.fy.fy.entity.VotePerson">
            <id column="vote_id" property="voteId"></id>
            <result column="vote_person_persons" property="votePersonPersons"/>
            <result column="vote_person_money" property="votePersonMoney"/>
            <result column="user_id" property="userId"/>
        </association>
    </resultMap>

    <insert id="addVote" parameterType="cn.fy.fy.entity.Vote">
        INSERT INTO vote (user_id,anime_id,vote_title,vote_start,vote_end)
        VALUES (#{userId},#{animeId},#{voteTitle},#{voteStart},#{voteEnd})
    </insert>

    <select id="selectid" resultType="int">
        SELECT MAX(vote_id) FROM vote  WHERE user_id=#{userId}
    </select>
</mapper>
